.cardwrapper{
    border: 2px solid black;
    padding: 5px 40px;
    background-color: rgb(248, 248, 248);
    width: 400px;
    margin: 5px;
    border-radius: 16px;
}

.cardwrapper:hover{
    background-color: rgba(11, 140, 253, 0.137);
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

button{
    border: none;
    background-color: transparent;
    height: 15px;
    cursor: pointer;
}

button:hover{
    font-weight: bold;
    font-size: 1rem;
}


.grid-container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 60px 60px 60px;
}

.item{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

.item label:last-child{
    font-weight: bold;
}

.item:hover{
    background-color: white;
}